{% load static %}
<html>
    <head>
        <title>news rec</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_superuser %}
                <h1><a href="/post">news rec - to post </a>

                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'theme_new' %}" class="top-menu"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a href="{% url 'logout' %}" class="top-menu">Logout</a>
                <a href="/post" class="top-menu">{{user.username}}</a></h1>
            {% elif user.is_authenticated %}
                <h1><a href="/post">news rec - to post </a>

                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'theme_new' %}" class="top-menu"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a href="{% url 'logout' %}" class="top-menu">Logout</a>
                <a href="/post" class="top-menu">{{user.username}}</a></h1>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
                <h1><a href="/">news rec - to login</a></h1>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>