{% extends 'news/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <!--<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>-->
        <h1>{{ post.title }}</h1>
        <h1>{{ post.type }}</h1>
        <p>{{ post.picture|linebreaksbr }}</p>

        <form method="POST" class="rating-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">rate_save</button>
        </form>
    </div>
{% endblock %}