{% extends 'news/base.html' %}

{% block content %}
    <div class="post">
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class = "btn btn-default" href="{% url 'post_delete' theme=post.theme.theme_title pk=post.pk%}">
            <span class="glyphicon glyphicon-remove-circle"></span></a>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
                {{ post.author }}
                {{ post.theme.theme_title }}
            </div>
        {% endif %}


        <h1>{{ post.title }}</h1>
        <br>
        <p>{{ post.text|linebreaksbr }}</p>
        <form method="POST" class="rating-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">rate_save</button>
        </form>



    </div>
{% endblock %}